
body{
  margin: 0;
  padding: 0;
  font-family: Lexend;
}

*{
  margin: 0;
  padding: 0;
}

/* Aqui va la parte de David */
.titulo1{
  margin-bottom: 1px;
  font-size: 50px;
  color: rgb(55, 56, 56);
  margin: 1px 1px 1px 1px;
}
.titulo2{
  margin-bottom: 20px;
  font-size: 55px;
  margin: 1px 1px 1px 1px;
  font-weight: bolder ;
  
}


.imagen1{
  background-image:url("../images/imagen.png") ;
  height: 500px;
  width: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 100px;
  margin-top: 50PX;
}

.contenedor{
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
}

.contenedor-de-texto{
  width: 50%;
  padding-top: 50px;
  padding-left: 100px;
}
.boton{
  
  background-color: #39A70B;
  border-radius: 18px;
  border: 1px;
  width: 120px;
  height: 40px;
  margin: 20px 10px 20px 1px;
}

.boton-letra{
  color: aliceblue;
  font-weight: bolder;
  text-decoration: none; 
}

.boton:hover{
  border: #ffffff solid 2px;
  cursor: pointer;
 
}
.boton:hover{
  background-color: #57b8d6;
}
.titulo1:hover{
  color: #39A70B;
} 
.titulo2:hover{
  color: #39A70B;
} 
.texto:hover{
  color: #39A70B;
} 




/* Aqui va la parte de Cristian */

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  background: white;
}

.cont{
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: end;
}

.logos{
  width: 75px;
  height: 75px;
  margin-right: 530px;
}

.barralink1, .barralink2, .barralink3, .barralink4{
  margin: 28px 35px;
}

.link{
  text-decoration: none;
  color: black;
  font-weight: 900;
}

.link:hover{
  color: #39A70B;
  border-bottom: 3px solid #39A70B;
}
