
body{
  margin: 0;
  padding: 0;
  font-family: Lexend;
}

*{
  margin: 0;
  padding: 0;
}

/* Aqui va la parte de David */
.titulo1{
  margin-bottom: 1px;
  font-size: 50px;
  color: rgb(55, 56, 56);
  margin: 1px 1px 1px 1px;
}
.titulo2{
  margin-bottom: 20px;
  font-size: 55px;
  margin: 1px 1px 1px 1px;
  font-weight: bolder ;
  
}


.imagen1{
  background-image:url("../images/imagen.png") ;
  height: 500px;
  width: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.contenedor{
  display: flex;
}

.contenedor-de-texto{
  width: 50%;
  padding-top: 50px;
  padding-left: 100px;
}
.boton{
  
  background-color: #39A70B;
  border-radius: 18px;
  border: 1px;
  width: 120px;
  height: 40px;
  margin: 20px 10px 20px 1px;
}

.boton-letra{
  color: aliceblue;
  font-weight: bolder;
  text-decoration: none; 
}

.boton:hover{
  border: #ffffff solid 2px;
  cursor: pointer;
}
 




/* Aqui va la parte de Cristian */

.container{
  background: white;
  padding: 0px 100px;
}

.cont{
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: end;
  position: fixed;
}

.logos{
  width: 80px;
  height: 80px;
  top: 5px;
  left: 100px;
  position: fixed;
}

.barralink1, .barralink2, .barralink3, .barralink4{
  margin: 28px 35px;
}

.link{
  text-decoration: none;
  color: black;
  font-weight: 900;
}

.link:hover{
  color: #39A70B;
  border-bottom: 3px solid #39A70B;
}